<% import org.featherj.test.models.TestObj; %>
<% members
    private String param1;
    private TestObj param2;

    public TestView(String param1, TestObj param2) {
        this.param1 = param1;
        this.param2 = param2;
    }
%>

<!DOCTYPE html>
<html>
<head>
    <title>Test Title</title>
    <script type="text/javascript">
        function testFunc() {
            alert("testFunc alert");
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="fluid-row">
            <%
            for (int i = 0; i < 12; i++) {
                %>
                <div class="span1"> <%= (i + 1) %> </div>
                <%
            }
            %>
        </div>
    </div>
    <div>
        Escaped tag <\%
        Escaped tag \% >
    </div>
</body>
</html>